<!DOCTYPE html>
<html>
    <head>
        <title>
            Home
        </title>
    </head>
    <body>
        <div>
            <h2>Weight Unit Conversion</h2>
            <form method="POST">
                {% csrf_token %}
                <input type="number" step="any" placeholder="Enter Weight in kg" name="kilogram" required />
                <button type="submit">Convert</button>
            </form>
            {% if result %}
                <div>
                    <span>
                        {{ result }}
                    </span>
                </div>
            {% endif %}
        </div>
    </body>
</html>